exclude: ["Gemfile", "Gemfile.lock", "node", "node_modules", "README.md", "txuritan.github.io.iml", "vendor"]

permalink: /:categories/:title/

highlighter: rouge

sass:
    sass_dir: _sass
    style: compressed

kramdown:
  parse_block_html: true
  syntax_highlighter: rouge

gems:
  - jekyll-sitemap
  - jekyll-feed
