---
title: Downloads
layout: default
---
<x-grid>
  <x-column>
    <x-panel>
      <x-panel-head>
        <h3>{{ page.title }}</h3>
      </x-panel-head>
      <x-panel-body>


        <x-panel>
          <x-panel-head>
            <h3>Minecraft</h3>
          </x-panel-head>
          <x-panel-body>
            <x-grid>

              {% for mod in site.data.downloads.minecraft %}
              <x-column size="4">
                <x-panel outline>
                  <x-panel-head>
                    <h3>{{ mod.name }}</h3>
                  </x-panel-head>
                  <x-panel-body>
                    <p>
                    <a href="{{ mod.url }}">Download</a>
                    </p>
                  </x-panel-body>
                  <x-panel-foot>
                    <small>Minecraft: {{ mod.version }}</small>
                  </x-panel-foot>
                </x-panel>
              </x-column>
              {% endfor %}

            </x-grid>
          </x-panel-body>
        </x-panel>


        <x-panel>
          <x-panel-head>
            <h3>MultiMC</h3>
          </x-panel-head>
          <x-panel-body>
            <x-grid>

              {% for mod in site.data.downloads.multimc %}
              <x-column size="4">
                <x-panel outline>
                  <x-panel-head>
                    <h3>{{ mod.name }}</h3>
                  </x-panel-head>
                  <x-panel-body>
                    <p>
                    <a href="{{ mod.url }}">Download</a>
                    </p>
                  </x-panel-body>
                  <x-panel-foot>
                    <small>Minecraft: {{ mod.version }}</small>
                  </x-panel-foot>
                </x-panel>
              </x-column>
              {% endfor %}

            </x-grid>
          </x-panel-body>
        </x-panel>


        <x-panel>
          <x-panel-head>
            <h3>Skyrim</h3>
          </x-panel-head>
          <x-panel-body>
            <x-grid>

              {% for mod in site.data.downloads.skyrim %}
              <x-column size="4">
                <x-panel outline>
                  <x-panel-head>
                    <h3>{{ mod.name }}</h3>
                  </x-panel-head>
                  <x-panel-body>
                    <p>
                    <a href="{{ mod.url }}">Download</a>
                    </p>
                  </x-panel-body>
                  <x-panel-foot>
                    <small>SKSE: {{ mod.version }}</small>
                  </x-panel-foot>
                </x-panel>
              </x-column>
              {% endfor %}

            </x-grid>
          </x-panel-body>
        </x-panel>


      </x-panel-body>
    </x-panel>
  </x-column>
</x-grid>
