<!--<div class="panel">
    <div class="panel-header">
        <h3>Txuritan</h3>
    </div>
    <div class="panel-body">
        <a href="/" class="button">Home</a>
        <a href="/downloads/" class="button">Downloads</a>
        <a href="/mods/" class="button">Mods</a>
        <a href="/posts/" class="button">Posts</a>
        <a href="/stories/" class="button">Stories</a>
        <a href="/story-archive/" class="button">Story Archive (WIP)</a>
    </div>
</div>-->

<nav>
  <item brand>
    <a href="/">Txuritan</a>
  </item>
  <section grow>
    <item>
      <a href="/downloads/">Downloads</a>
    </item>
    <item>
      <a href="/mods/">Mods</a>
    </item>
    <item>
      <a href="/posts/">Posts</a>
    </item>
    <item>
      <a href="/stories/">Stories</a>
    </item>
    <item>
      <a href="/story-archive/">Story Archive</a>
    </item>
  </section>
</nav>
