$grid-1of3: (100%/3);

.grid {
  .col {
    display: inline-block;
    float: left;
    &-1of3 {
      width: (($grid-1of3));
    }
    &-2of3 {
      width: (($grid-1of3*2));
    }
    &-3of3 {
      width: (($grid-1of3*3));
    }
  }
}

@media screen and (max-width: 600px) {
  .grid {
    .col {
      &-1of3 {
        width: ((100%));
      }
      &-2of3 {
        width: ((100%));
      }
      &-3of3 {
        width: ((100%));
      }
    }
  }
}