@import "_variables";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 16px 0;
}

pre.highlight {
  code {
    display: block;
    padding: $padding * 2;
  }
}

code {
  padding: 2px;
  overflow-y: auto;
}

pre {
  white-space: pre;
}

.text-center {
  text-align: center;
}

table {
  width: 100%;
}

.table {
  margin: 1em 0;
  min-width: 300px;
  width: 100%;
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none;
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

@import "_vendor_normalize";

@import "_base_grid";

@import "_base_button";
@import "_base_panel";

@import "_light";
@import "_dark";
