@import "_variables";

body.dark {
  background-color: $color-black-dark;
  color: $color-white;

  a, p {
    color: $color-white;
  }

  code {
    background-color: $color-black-dark;
    border: $color-red-dark dashed 1px;
  }

  @import "_dark_button";
  @import "_dark_code";
  @import "_dark_panel";
}