@import "_variables";

.highlighter-rouge {
    .highlight code {
      span {
        &.kn {
          color: $color-orange;
        }
        &.n {
          color: $color-red;
        }
        &.na {
          color: $color-sand;
        }
        &.nn {
          color: $color-yellow;
        }
        &.nd {
          color: $color-magenta;
        }
        &.s {
          color: $color-green;
        }
        &.kd {
          color: $color-sky-blue;
        }
        &.nc {
          color: $color-pink;
        }
        &.k {
          color: $color-purple;
        }
        &.kt {
          color: $color-mint;
        }
        &.nf {
          color: $color-lime;
        }
        &.n {
          color: $color-red;
        }
        &.s1, &.s2 {
          color: $color-green;
        }
        &.nl {
          color: $color-mint;
        }
        &.mf {
          color: $color-sky-blue;
        }
      }
    }
}
