---
layout: default
---
<grid>
    <column>
        <panel>
            <phead>
                <h3>{{ page.title }}</h3>
            </phead>
            <phead>
                <p>{{ page.story-summary }}</p>
            </phead>
            <pbody>
                {{ content }}
            </pbody>
            <pfoot>
                <a class="button text-center" href="../{{ page.prev }}">Previous</a>
                <a class="button text-center" href="../{{ page.next }}">Next</a>
            </pfoot>
        </panel>
    </column>
</grid>