---
layout: default
---
<x-grid>
    <x-column>
        <x-panel>
            <x-panel-head>
                <h3>{{ page.title }}</h3>
                <p>{{ page.story-summary }}</p>
            </x-panel-head>
            <x-panel-body>
                {{ content }}
            </x-panel-body>
            <x-panel-foot>
                <a class="button text-center" href="../{{ page.prev }}">Previous</a>
                <a class="button text-center" href="../{{ page.next }}">Next</a>
            </x-panel-foot>
        </x-panel>
    </x-column>
</x-grid>
