<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | Txuritan</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css"
          media="all">
    <link href="/css/base.css" rel="stylesheet" type="text/css" media="all">
    <title></title>
</head>

<body>
    <script src="/js/base.js"></script>
    {{ content }}
    {% include footer.html %}
</body>

</html>