<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | Txuritan</title>
    {% capture base %}
    {% include base.scss %}
    {% endcapture %}

    <style>
        {{ base | scssify }}
    </style>
    <title></title>
</head>

<body>
    {{ content }}
    {% include footer.html %}
    <script>
        var time = new Date().getHours();
        if ((time >= 20 && time <= 23) || (time >= 0 && time <= 4)) {
            document.body.setAttribute("class", "dark");
        } else {
            document.body.setAttribute("class", "light");
        }
    </script>
</body>

</html>