---
layout: default
---
<x-grid>
  <x-columm>
    <x-panel>
      <x-panel-head>
        <h3>{{ page.title }}</h3>
      </x-panel-head>
      <x-panel-body>
        {{ content }}
      </x-panel-body>
    </x-panel>
  </x-columm>
</x-grid>
<x-grid>
  <x-columm>
    <x-panel>
      <x-panel-head>
         <h3>Other Wikis</h3>
      </x-panel-head>
      <x-panel-body>
        <a href="/mods/txcore/wiki/" class="button text-center">TXCore</a>
        <a href="/mods/metal/wiki/" class="button text-center">Metal</a>
      </x-panel-body>
    </x-panel>
  </x-columm>
</x-grid>