---
title: Home
layout: default
---
<div class="grid">
    <div class="col col-1of3">
        {% include navigation.html %}
    </div>
    <div class="col col-2of3">
        <div class="panel">
            <div class="panel-header">
                <h3>{{ page.title }}</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Tile</th>
                            <th>Summary</th>
                            <th>Chapters</th>
                        </tr>
                        {% for story in site.data.stories %}
                        <tr>
                            <td data-th="Tile">
                                <a href="/stories/{{ story.link }}">{{ story.name }}</a>
                            </td>
                            <td data-th="Summary">{{ story.from }}<br/>{{ story.summary }}<br/>{{ story.tags }}</td>
                            <td data-th="Chapters">{{ story.chapters }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Tile</th>
                            <th>Summary</th>
                            <th>Chapters</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
